body{
    background-image:radial-gradient(#19568f,#16083c,#1a073f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-y: auto;
}
.Next{
    background-color: #19568f;
    height:40px;
    line-height:40px;
    color:#fff;
    min-width:120px;
    font-size:20px;
    border-radius:5px;
    margin-bottom:40px;
    transition:.3s;
}
.Next-1{
    margin-left:-100px;
}
.prev-1{
    margin-top:43px;
    margin-left:-30px;
}
.Next-2{
    margin-left:-60px;
}
.lastInfo{
    width:80%;
    font-weight: normal;
    font-size:20px;
}
.Crateinputs input[type='submit']{
    width:250px;
    width:150px;
    height:43px;
    line-height:43px;
    font-weight:bolder;
    font-size:20px ;
    border-radius:5px;
    transition:.3s;
    /* margin-left:calc(50% - 250px); */
}
.Crateinputs input[type='submit']:hover, .Next:hover{
    background-color: rgb(88, 169, 255);
}
.kemonLogPic{
    width:15%;
    min-width:150px;
    height:70px;
    margin-left: calc(50% - 80px);
}
.iconn{
    position: absolute;
    margin-top:0px;
    opacity:1;
    animation: ic 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes ic{
    0%{transform: translateY(0px); opacity:1;}
    100%{transform: translateY(-13px); opacity:0;}
}
.iif span{ padding-right:5%;}
.iif{
    display:block;
    justify-content: space-around;
    margin-left:20% !important;
    margin-top:-20px;
    transition:1s ease;
    padding-left:1%;
    opacity:0;
    width:80% !important;
}
.iif i{
    padding:5px;
}

.iconn2{
    margin-right:20x;
    opacity:0;
    animation: icOO 1s ease-out;
    animation-delay:1s;
    animation-fill-mode: forwards;
}
.ico1, .ico2, .ico3{
    visibility: hidden;
}
@keyframes icOO{
    0%{transform: translateX(-20px); opacity:0;visibility: hidden;}
    100%{transform: translateX(-5px); opacity:1;visibility: visible;}
}
.info-left h2{
    margin-top:45%;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-left{
    margin-left:30px;
    width:30%;
    color:#fff;
    z-index:10;
}
::-moz-list-bullet{
    width:20px !important;
}
.passInfo{
    margin-left:10%;
}
.passInfo ul{
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    color: rgb(84, 175, 245);
    margin-top:-20px;
    font-size:16px;
  }
.headerErrorInfo{
    width:100%;
    margin-top:20px;
    margin-bottom:-50px;
    text-align: center;
    z-index:40;
    font-size:17px;
    /* display:none; */
    color: red;
}
.About-kemon{
    font-size:18px;
}

.svg svg{
    position: fixed;
    display: block;
    top:-5%;
    margin-left:-40px;   
}
#createSec{
    bottom:0;
    display: flex;
    justify-content: space-between;
    margin-top:10%;
    width:100%;
}

.Crateinputs input{
    border:none;

    width:80%;
    margin-left:8%;
    height:30px;
    border-radius: 5px;
    margin-top:15px;
}









.createDiv{
    border-radius:10px;
    position: fixed;
    background-color: #eee;
    width:60%;
    margin-top:-50px;
    align-items: center;    
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    top:20%;
    right:2%;
    border-radius:1px;
    animation: createDiv 3s;
    animation-fill-mode: forwards;
    z-index:5;
    overflow-x: hidden;
}
.keLogo{
    position: relative;
}
.scr, .scrP{
    display:flex;
    text-align: center;
    color: rgb(25, 90, 211);
    font-size:20px;
    font-weight: bold;
    height:10px;
    width:20% !important;
    margin-left:70%;
    cursor: pointer;
}
.scrP{
   
    width:20% !important;
    margin-left:20%;
    margin-top:-30px;
    padding-bottom:100px;
}
.Crateinputs{
    display:flex;
    width:300%;
    overflow: hidden;
}
.Crateinputs div{
    top:40px;
    left:100px;
    width:33.33%;
    transition:.5s ease;
}
.Crateinputs div input{
    width:70%;
    margin-left:15%;
    font-size:16px;
}

.googleLogin{
    cursor: pointer;
    background-color: #134370;
    width:250px;
    border-radius:5px;
    min-width:200px;
    border:1px solid  #19568f;
    height:40px;
    text-align: center;
    margin-left:calc(50% - 125px);
    transition:.5s;
    line-height:40px;
    color:#fff;
}
.googleLogin:hover{
    background-color:transparent;
    color:#0D2A45;
}



@media screen and (max-width:750px){
    .info-left{display:none;}
    .createDiv{
        width:80%;
        left:10%;
        border-radius:10px;
    }
    .Crateinputs input{padding-left:-20px;}
}
@media screen and (max-width:500px){
    .createDiv{
        overflow-y: scroll;
        width:95%;
        left:2%;
        top:20%;
        border-radius:10px;
        margin-bottom:50px;
    }
    .Crateinputs div input{
        width:80%;
        margin-left:5%;
        font-size:16px;
    }
    .googleLogin{
        width:200px;
        margin-left:calc(50% - 100px);
    }
}
@media screen and (max-width:330px){
    .createDiv{
        overflow-y: scroll;
        width:95%;
        left:2%;
        top:15%;
        height:450px;
        border-radius:10px;
        margin-bottom:50px;
    }

}




.loginStatus h4{
    font-size:20px;
    font-weight: bold;
}

.loginStatus h5{
    font-size:17px;
    margin-top:-20px;
    font-weight: normal;
}
.loginStatus p{
    color:red;
    text-align: center;
    margin-top:-10px;
}
.loginStatus{
    position: fixed;
    opacity:0;
    z-index:100;
    top:-400px;
    background-color: #fff;
    width:300px;
    margin-left:calc(50% - 180px);
    padding:10px 20px;
    transition:.5s;
    animation: loginStatus 1s ease-in .5s;
    animation-fill-mode: forwards;
}
@keyframes loginStatus{
    0%{top:-400px;opacity:0;}100%{top:0px;opacity:1;}
}
#loginSec{
    position:absolute;
    background-color: #eee;
    width:50%;
    margin-top:-3%;
    margin-left:25%;
    align-items: center;
    height:630px;
    box-shadow: 0 10px 20px 0 rgba(28, 4, 51, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    top:20%;
    border-radius:15px;
}
.login_button input{
    border: none;
    height:60px;
    margin-top:30px;
    border-radius:15px;
    width:30%;
    margin-left:35%;
    background-color: #19568f;
    box-shadow: 0 5px 10px 0 #000, 0 6px 1px 0 rgba(0, 0, 0, 0.2);
    font-size:23px;
    color:#fff;
    transition:.3s;
    cursor: pointer;
}
.login_button input:hover{
  box-shadow: 0 0px 0px 0px #1a0741, 0px 6px 15px 0 rgba(0, 0, 0, 0.2);
}
.inputs input{
    padding-left:30px !important;
    width:60%;

    margin-left:20%;
    border: none;
    margin-top:30px;
    height: 25px;
    border-radius:5px;
}
.kemonLog{
    text-align:center;
    letter-spacing:4px;
    color:#000;
}
.M{
    color:red;
}

.fa{
    position: absolute;
    text-align: center;
    padding-top: 16px;
    margin-left:17%;
    margin-top:30px;
    color:#fff;
    background-color: #19568f;
    height: 30px;
    width:40px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.signin_signup{
    text-align:center;
    margin-left:-10px;
    color:#8c3232;
}
.signin_signup a{
    color:#8c3232;
    text-decoration: none;
}
.signup{
    margin-left:20px;
}
.closeForPass{
    position:fixed;
    right:40px;
    top:40px;
    display:block;
    visibility: hidden;
    background-color: #fff;
    width:80%;
    height:80%;
    opacity:.95;
    transition:.5s;
}
.cancelX{
    position: absolute;
    right:50px;
    top:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:50%;
    background-color: rgb(250, 250, 250);
    width:50px;
    height:50px;
    line-height:50px;
    font-style: normal;
    font-size: small;
    font-size: 23px;
    border:1px solid rgb(225, 224, 224);
    cursor: pointer;
}
.forgetPasswordContent{
    margin-top:10%;
}
.forgetPasswordContent h3{
    color:rgb(60, 161, 255);
    font-size:25px;
}
.forgetPasswordContent .forgetPassInput{
    width:30%;
    min-width:250px;
    border:none;
    height:40px;
    border-bottom: 1px solid rgb(60, 161, 255);
    padding-left:15px;
}
.forgetPasswordContent .ResetBtn{
    border:none;
    border-radius:5px;
    height:50px;
    width:200px;
    min-width:150px;
    background-color: rgb(60, 161, 255);
    color:#fff;
    font-size:20px;
    margin-top:25px;
    border:1px solid rgb(60, 161, 255);
    transition:.3s;
}
.forgetPasswordContent .ResetBtn:hover{
    color: rgb(60, 161, 255);
    background-color: transparent;
}
::placeholder{
    color:rgb(60, 161, 255);
}
@media screen and (max-width:500px){
    
    .forgetPasswordContent{
        margin-top:40%;
    }
}
.Forpassword a {
    color:#8c3232;
    text-decoration:none;
    font-size:21px;
}
.Forpassword{
    position: absolute;
    width:100%;
    padding-top:20px;
    text-align: center;
    bottom: -20px;
    background-color: #fff;
    color:#f3f3f3 !important;
    height:50px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
@media screen and (max-width:400px){.Forpassword{margin-top:20px;}}
@media screen and (max-width:800px){#loginSec{margin-left:8%; width:80%}}
@media screen and (max-width:700px){#loginSec{margin-left:3%; width:90%}}
@media screen and (max-width:500px){.forPassHeader h3{font-size:20px;}.OpenForPass{width:50%;margin-left:-25%;}#loginSec{margin-left:0.5%;}.inputs{width:70% !important;margin-left:17% !important;}.fa{margin-left:-5%;}
    @keyframes myForPass {
        0%{opacity:.4;width:0%;height:0px;margin-left:50%;margin-top:0;}
        100%{opacity:1;width:70%;height:500px;margin-left:-35%;margin-top:50px;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);}
    }
    #loginSec{width:94%;top:6%}.login_button input{width:50%;margin-left:25%; height:40px;border-radius:10px;}.inputs input{width:80%; margin-left:7%;}
    .signin_signup{font-size:17px;}.kemonLog{font-size:15px;} #loginSec{height:550px;}
}
@media screen and (max-width:700px){.ResetBtn{font-size:18px;}.forgetPassInput{margin-top:-30px;}}
@media screen and (max-width:700px){.ResetBtn{font-size:12px;}}
.pdatePass{
    background-color: #eee;
    width:60%;
    margin-left:20%;
    height:450px;
    margin-top:10%;
    padding-top:30px;
}
.updateHeader{
    text-align: center;
    font-size:25px;
}
.UpdatePass{
    position: absolute;
    width:80%;
    top:10%;
    left:10%;
    height:80%;
    opacity:0;
    background-color: #fff;
    animation: UP .5s ease-out 0s;
    animation-fill-mode: forwards;
}
@keyframes UP{0%{width:80%;top:10%;left:10%;height:80%;opacity:0;}100%{width:100%;top:0%;left:0%;height:100%;opacity:6;}}
.upCenter{
    width:50%;
    padding: 50px;
    margin-top:10%;
    background-image:linear-gradient(to right, #fff,#eee,#fff);
}
.UP input{
    width:35%;
    min-width:60%;
    height:40px;
    margin-top:20px;
    padding-left:15px;
    border:none;
    background-color: transparent;
    border-bottom:1px solid rgb(67, 150, 228);
    border-radius:1px;
}
.UpdateMyForPass{
    width:20% !important;
    min-width:20% !important;
    background-color: rgb(67, 150, 228) !important;
}
@media screen and (max-width:510px){
    .UP input{min-width:80%;margin-left:0%;}
    .UpdateMyForPass{min-width:50% !important;}
}
.editLogin{
    width:70%;
    margin-left:15%;
    background-color: #eee;
    border-radius:30px;
}
.chkbtn{
    width:30px !important;
}
@media screen and (max-width:800px){
    .iif{padding-left:-100px !important;}
}
@media screen and (max-width:500px){
    .iif{margin-left:20px !important;}
}
.papaaa{
    margin-left:0px !important;
}